<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    Sign up
    <form action="/logged_in" method="post">
        <label for="username">Username:</label>
        <br>
        <input type="text" class="username" name="new_username">
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="new_password" name="password">
        <br>
        <button type="submit">Submit</button>
    </form>


</body>
</html>